@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lexend:wght@300;500;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Lexend', sans-serif;
}

:root{
    --bg-color:#0a0b1d;
    --second-bg-color:#070c2d;
    --main-color:#558cf2;
    --text-color:#fff;
    --second-color:#cdeef0;
    --third-color: linear-gradient(to bottom, rgb(13, 26, 99), rgb(14, 3, 45));

    --h1-font:7rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;
}


body{
    color:var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo img{
    width:40px;
    height: auto;
}

.navlist{
    display: flex;
    align-items: center;
}

.navlist a{
    color:var(--second-color);
    font-size: var(--p-font);
    margin: 0 20px;
    transition: all ease .40s;
}

.navlist a:hover{
    color:var(--main-color);
}

#menu-icon {
    font-size:42px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    display: none;
}

section{
    padding: 120px 19% 100px;
}

/* home section */

.home{
    position: relative;
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(27, 9, 75, 0.73)),url(../images/home-bg.jpg);
    background-size: cover;
}

.hero-text h3{
    color:var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}

.hero-text  h1{
    font-size: var(--h1-font);
    color:var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4 {
    color:var(--second-color);
    font-size:25px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}

.btn{
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color:var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    border:2px solid var(--main-color);
    transition: all ease .50s;
}

.btn:hover{
     transform: translateX(5px);
     background: transparent;
    border: 2px solid var(--main-color);
}

header.sticky  {
    padding:  15px 11%;
    background-color:#000000a5;
    border-bottom: 1px solid #4e5055;
}

.s-btnn {
    display: inline-block;
    padding: 9px 24px;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    transition: all ease .50s;
}

.s-btnn:hover {
    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--main-color);
}

/* about section */
.about{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
    background: var(--third-color);
}

.about-img{
    flex:1;
}

.about-img img{
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.about-text{
    flex:2;
}

.about-text h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.about-text h5  {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4rem;
}

span{
    color:var(--main-color);
}

.about-text p{
    color:var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

/* Experience Section */
.experience{
    background-image: url(../images/experience-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed
}

.text-center{
    text-align: center;
}

.text-center h2{
    font-size:var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.text-center h4{
    font-size: 22px;
    font-weight: 500;
}

.experience-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 30px 0;
}

.experience-box{
    padding: 30px;
    background-color: var(--second-bg-color);
    border-radius: 30px;
    max-width: 500px;
    transition: all ease .50s;
    border: 1px solid transparent;
}

.experience-box:hover {
    border: 1px solid var(--text-color);
}

hr{
    border-top: 5px solid var(--main-color);
    margin: 10px 0;
}

.experience-point {
    padding-left: 1rem;
}
.experience-point li{
    list-style-type:disc;
    padding-bottom: 5px;
    font-weight: 200;
}

.experience-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 10px;
}

.skill-item{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}

.skill-box{
    min-width: 25%;
    border: 1px solid transparent;
}

.skills-tag-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px 0;
    justify-content: center;
}

.experience i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.experience h3{
    font-style: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

.experience p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;
}

/* project section */
.project {
    background-color: var(--second-bg-color);
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap:3rem
}

.project-box {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;

}

.project-box {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    transition: all ease .50s;
}

.project-img img {
    width: 900px;
}

.project-info {
    padding: 1rem;
}

.project-tag {
    padding: 5px 10px;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 20px;
}

.project-overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Contact section */
.contact{
    display: flex;
    background: var(--third-color);
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.left-contact{
    flex:1;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.in i{
    color:var(--main-color);
    opacity: 0.8;
    font-size: 120px;
    margin-bottom: 15px;
    transition: all ease .40s; 
}

.in i:hover{
    opacity: 1;
    cursor: pointer;
}

.in a h4 {
    color: var(--text-color);
}
.in h4{
    font-style: 27px;
    font-weight: 600;
    letter-spacing: 1px;
}

.right-contact h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 5px;
}

.right-contact{
    flex:1;
}

.right-contact a{
    display: inline-block;
    color:var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--main-color);
    transition: all ease .40s;
}

.right-contact a:hover{
    transform: translate(5px);
    color:  var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.right-contact p{
    color:var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
}

.tag-item{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin: 5px 0;
}

.tag    {
    padding: 5px 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 20px;
}


@media only screen and (max-width: 800px) {
    section{
        padding: 2rem;
    }

    .about{
        justify-content: center;
        flex-direction: column;
    }

    .project-img img{
        width: 100%;
    }

    .experience-item{
        justify-content: center;
    }

    .skill-item{
        flex-direction: column;  
        align-items: center;
    }

    .left-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }

    .in i {
        font-size: 90px;
    }

    .contact {
        gap: 3rem;
        flex-direction: column;
    }

    header{
        padding: 28px 8%;
        background-color: #000000a5;
    }
    #menu-icon {
        display: block;
    }
    .navlist{
        position: absolute;
        top: -800px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #000000d3;
        padding: 20px 0;
        align-items: baseline;
        transition: all .50s ease;
    }
    .navlist a{
        display: flex;
        font-size: 22px;
        padding: 19px 27px;
    }
    .navlist.open{
        top:100%;
    }
}